
.main{
	font-family: 'Lato', sans-serif;
}
/*----------BODY:skills-line---------------------------------------------------------------*/
.main__skills{
	display: flex;
}
.main__skills__content{
	max-width: 1920px;
	display: flex;
}
.skills__text--brown,
.skills__text--gray,
.skills__text--header{
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.4rem;
}
.skills__text--header{
	padding-top: 30px;
	font-weight: 100;
	font-size: 2.5rem;
}
.skills__text--brown{
	color: burlywood;
}
.skills__text{
	width:50%;
	height: 345px;
	background-color: white; 
}
.skills__picture{
	width: 25%;
	height: 345px;
	background-size: cover;
	background-position: center;
	background-image:url(images/about-img.jpg);
}
.skills__levels{
	width: 25%;
	height: 345px;
	background-color: rgb(210, 105, 30);
	display: flex;
	flex-direction:column;
}
.skills__levels--header{
	padding-top: 10px;
	padding-left: 30px;
	font-weight: 100;
	font-size: 2.5rem;
	color: white;
}
.skills__levels--all-skills{
	padding-left: 30px;
	font-size: 1.4rem;
	color: white;
	font-weight: 100;
}
progress{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	background-size: auto;
}
progress::-webkit-progress-bar {
background: rgb(225,225,225);
	height: 2px;
}
progress::-webkit-progress-value {
background: rgb(0,0,0);
	height: 2px;
}
.progress-line{
	width: 80%;
	margin-left: 30px;
}
.progress-name{
	font-size: 1.3rem;
	padding-left: 30px;
	font-weight: 600;
	color: white;
	padding-top: 0;
	margin-top: 0;
	width: 40%;
}
/*----------BODY:skills-cards---------------------------------------------------------------*/
.main__more{
	display: flex;
}
.main__more__content{
	display: flex;
	max-width: 1920px;
	
}
.more__card--one{
	width: 25%;
	height: 340px;
	background-color:rgb(218, 165, 32);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	align-items: center;
}
.more__card--two{
	width: 25%;
	height: 340px;
	background-color: rgb(210, 105, 30);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	align-items: center;
}
.more__card--three{
	width: 25%;
	height: 340px;
	background-color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	align-items: center;
}
.more__card--four{
	width: 25%;
	height: 340px;
	background-color:white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	align-items: center;
}
.card__text--two,.card__text--one{
	text-align: center;
	padding: 20px;
	font-size: 1.4rem;
}
.card__text--three,.card__text--four{
	text-align: center;
	padding: 20px;
	font-size: 1.4rem;
}
.fa-paper-plane,.fa-table,.fa-picture-o{
	color: whitesmoke;
	padding-top: 50px;
}
.fa-html5{
	padding-top: 50px;
}
.card__headline--one,.card__headline--two,
.card__headline--three{
	color: white;
	font-size: 2.5rem;
}
.card__headline--four{
	font-size: 2.5rem;
}
.card__text--one,.card__text--two,
.card__text--three{
	color: white;
}
/*----------BODY:experiences-line---------------------------------------------------------------*/
.main__experiences{
	display: flex;
	max-width: 1920px;
}
.main__experiences__content{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.experiences__picture{
	min-width: 50%;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-image:url(images/experience-img.jpg);
}
.experiences__inform{
	max-width: 50%;
	height: 400px;
	background-color: rgb(210, 105, 30);
	display: flex;
  	flex-direction: column;
	align-items: flex-start;
	padding-left: 30px;
	color: whitesmoke;
}
/*----------BODY:education-line---------------------------------------------------------------*/
.main__education{
	display: flex;
	max-width: 1920px;
}
.main__education__content{
	width: 100%;
	display: flex;
}
.education__picture{
	min-width: 50%;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-image:url(images/education-img.jpg);
}
.education__inform{
	max-width: 50%;
	height: 400px;
	background-color: rgb(218, 165, 32);
	display: flex;
  	flex-direction: column;
	align-items: flex-start;
	color: whitesmoke;
	padding-left: 30px;
}
.Education,.Experiences{
	font-size: 3rem;
	font-weight: 100;
	margin-bottom: 0;
}
.data{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	font-size: 1.6rem;
}
.fa-desktop{
	color: whitesmoke;
	padding-right: 20px;
	padding-top: 10px;
}
.course-name{
	font-size: 2rem;
	display: flex;
  	flex-direction: row;
	font-weight: 100;
	justify-content: center;
}
.duration{
	font-size: 1rem;
	color: rgb(28, 28, 28);
	padding-top: 15px;
	padding-left: 5px;
}
/*----------BODY:quoate(цитата)-line---------------------------------------------------------------*/
.main__text{
	display: flex;
	background-image:url(images/quotes-bg.jpg);
	max-width: 1920px;
}
.text__content{
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center;
	filter: alpha(Opacity=70); /* Прозрачность в IE */
	background:rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
  	align-content: space-between;
  	align-items: center;
  	flex-direction: column;
}
.fa-star{
	color: white;
	text-align: center;
}
.text__content--headline{
	color: white;
	font-weight: 100;
	max-width: 800px;
	text-align: center;
	font-size: 3rem;
}
.text__content--paragr{
	color: whitesmoke;
	font-weight: 100;
	text-align: center;
	font-size: 1.3rem;
}
/*----------BODY:testimonial-line---------------------------------------------------------------*/
.main__prefooter{
	max-width: 1920px;
}
.prefooter__content{
	width: 100%;
	display: flex;
	height: 610px;
}
.prefooter__sayhello{
	width: 50%;
	height: 610px;
	background-color: rgb(210, 105, 30);
	display: flex;
	flex-direction:column;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 1.3rem;
}
.prefooter__headline{
	font-weight: 100;
	font-size: 40px;
	color: white;
	margin-top: 50px;
}
.prefooter__paragr{
	color: white;
	margin-bottom: 60px;
}
input::-moz-placeholder { color: white; font-family: 'Lato', sans-serif; } /*Firefox*/
textarea:-moz-placeholder { color: white; font-family: 'Lato', sans-serif; }
input::-webkit-input-placeholder { color: white;font-family: 'Lato', sans-serif;}/*Safari,Chrome*/
textarea::-webkit-input-placeholder { color: white;font-family: 'Lato', sans-serif; }
.prefooter__input--name{
	background-color: rgb(210, 105, 30);
	border-bottom-color: white;
	border-top: none;
	border-right: none;
	border-left:  none;
	width: 100%;
	margin-bottom: 43px;
	padding-bottom: 8px;
}
.prefooter__input--email{
	background-color: rgb(210, 105, 30);
	border-bottom-color: white;
	border-top: none;
	border-right: none;
	border-left:  none;
	width: 100%;
	margin-bottom: 10px;	
	padding-bottom: 40px;
}
.prefooter__textarea--message{
	background-color: rgb(210, 105, 30);
	border-bottom-color: white;
	border-top: none;
	border-right: none;
	border-left:  none;
	width: 100%;
	margin-bottom: 30px;	
	height: 130px;
}
.prefooter__button--send{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 100px;
	padding-left: 100px;
	border-radius: 20px;
	border: none;
	background-color: white;
	color: black;
	margin-left: 10px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
}
.prefooter__picture{
	width: 25%;
	height: 610px;
	background-size: cover;
	background-image:url(images/contact-img.jpg);
	background-position: center;
}
.prefooter__contacts{
	width: 25%;
	height: 610px;
	background-color: rgb(28, 28, 28);
	font-size: 1.5rem;
}
.prefooter__contacts--text{
	color: white;
	margin-top: 50px;
	font-weight: 100;
	padding-left: 45px;
}
.prefooter__contacts--paragr{
	color:gray;
	margin-bottom: 50px;
	padding-right: 20px;
}
.prefooter__links{
	display: flex;
	flex-direction: column;
	padding-left: 45px;
}
.fa-phone,.fa-envelope-o,.fa-globe{
	color:gray;
	margin-bottom: 30px;
}
.prefooter__links--number{
	text-decoration: none;
	color: gray;
	padding-left: 10px;
}
.prefooter__links--mail,
.prefooter__links--site{
	text-decoration: none;
	color:burlywood;
	padding-left: 10px;
}
