@media (min-width: 1920px){
	body{box-sizing: border-box;}
	.header__content{
		display: flex;
		flex-direction: row;
	}
	.header__picture{
		width: 50%;
	}
	.header__navigation{
		width:50%; 
	}
	.menu__item{
		font-size: 1.7rem;
	}
	.header__welcome-message{
		font-size: 3rem;
	}
	.header__hello-massage{
		font-weight: 100;
		font-size: 4rem;
	}
	.header__paragr{
		font-size: 3rem;
	}
	.header__get-started{
		font-size: 2.5rem;
		margin-top: 0px;
	}
	.main__skills--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.skills__text{
		width: 50%;
	}
	.skills__text--first,
	.skills__text--second,
	.skills__text--header{
		font-size: 2.5rem;
	}
	.skills__picture{
		width: 25%;
	}
	.skills__levels{
		width: 25%;
	}
	.skills__levels--all-skills{
	padding-left: 30px;
	font-size: 2rem;
	}
	.progress-name{
		font-size: 1.7rem;
	}
	.main__more--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.more__card--one{
		width: 50%;
		background-color: rgb(210, 105, 30);
		height: 400px;
	}
	.more__card--two{
		width: 50%;
		background-color:rgb(218, 165, 32);
		height: 400px;
	}
	.more__card--three{
		width: 50%;
		height: 400px;
	}
	.more__card--four{
		width: 50%;
		height: 400px;
	}
	.card__text,.card__text--coding{
	font-size: 2.5rem;
	}
	.fa-paper-plane,.fa-table,.fa-picture-o,.fa-html5{
		font-size: 2.5rem;
	}
	.education__paragr,.experiences__paragr{
		font-size: 2.1rem;
	}
	.duration{
		font-size: 1.5rem;
	}
	.text__content--paragr{
		font-size: 2.1rem;
	}
	.main__prefooter--content{
		max-width: 100%;
	}
	.prefooter__paragr{
		font-size: 2rem;
	}
	.prefooter__contacts--text{
		padding-right: 20px;
		font-size: 2rem;
	}
	.prefooter__links{
		padding-right: 20px;
		font-size: 2.1rem;
	}
	.footer__text{
		margin-left: 20px;
		text-align: center;
		font-size: 2.1rem;
	}
	.footer__links{
		text-align: center;
		margin-left: 20px;
		font-size: 2.5rem;
	}
}
@media (max-width: 990px){
	body{box-sizing: border-box;}
	.header__content{
		display: flex;
		flex-direction: column;
	}
	.header__picture{
		width: 100%;
	}
	.header__navigation{
		width:100%; 
	}
	.menu__item{
		font-size: 2rem;
	}
	.header__welcome-message{
		font-size: 3rem;
	}
	.header__hello-massage{
		font-weight: 100;
		font-size: 4rem;
	}
	.header__paragr{
		font-size: 3rem;
	}
	.header__get-started{
		font-size: 2.5rem;
		margin-top: 0px;
	}
	.main__skills--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.skills__text{
		width: 100%;
	}
	.skills__text--first,
	.skills__text--second,
	.skills__text--header{
		font-size: 2.5rem;
	}
	.skills__picture{
		width: 50%;
	}
	.skills__levels{
		width: 50%;
	}
	.skills__levels--all-skills{
	padding-left: 30px;
	font-size: 2rem;
	}
	.progress-name{
		font-size: 1.7rem;
	}
	.main__more--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.more__card--one{
		width: 50%;
		background-color: rgb(210, 105, 30);
		height: 400px;
	}
	.more__card--two{
		width: 50%;
		background-color:rgb(218, 165, 32);
		height: 400px;
	}
	.more__card--three{
		width: 50%;
		height: 400px;
	}
	.more__card--four{
		width: 50%;
		height: 400px;
	}
	.card__text,.card__text--coding{
	font-size: 1.8rem;
	}
	.main__prefooter--content{
		max-width: 100%;
	}
	.prefooter__contacts--text{
		padding-right: 20px;
	}
	.prefooter__links{
		padding-right: 20px;
	}
	.footer__text{
		margin-left: 20px;
		text-align: center;
	}
	.footer__links{
		text-align: center;
		margin-left: 20px;
	}
}
@media (max-width: 768px){
	body{box-sizing: border-box;}
	.header__content{
		display: flex;
		flex-direction: column;
	}
	.header__picture{
		width: 100%;
	}
	.header__navigation{
		width:100%; 
	}
	.menu__item{
		font-size: 1.6rem;
	}
	.header__welcome-message{
		font-size: 3rem;
	}
	.header__hello-massage{
		font-weight: 100;
		font-size: 3rem;
	}
	.header__paragr{
		font-size: 2.5rem;
	}
	.header__get-started{
		font-size: 2.5rem;
		margin-top: 0px;
	}
	.main__skills--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.skills__text{
		width: 100%;
	}
	.skills__text--first,
	.skills__text--second,
	.skills__text--header{
		font-size: 2.5rem;
	}
	.skills__picture{
		width: 50%;
	}
	.skills__levels{
		width: 50%;
	}
	.skills__levels--all-skills{
	padding-left: 30px;
	font-size: 2rem;
	}
	.progress-name{
		font-size: 1.7rem;
	}
	.main__more--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.more__card--one{
		width: 50%;
		background-color: rgb(210, 105, 30);
		height: 400px;
	}
	.more__card--two{
		width: 50%;
		background-color:rgb(218, 165, 32);
		height: 400px;
	}
	.more__card--three{
		width: 50%;
		height: 400px;
	}
	.more__card--four{
		width: 50%;
		height: 400px;
	}
	.card__text,.card__text--coding{
		font-size: 1.8rem;
	}
	.education__paragr,.experiences__paragr{
		font-size: 1.6rem;
	}
	.duration{
		font-size: 1.2rem;
	}
	.main__prefooter--content{
		max-width: 100%;
	}
	.prefooter__contacts--text{
		padding-left: 20px;
	}
	.prefooter__sayhello{
		height: 800px;
	}
	.prefooter__links{
		padding-left: 20px;
	}
	.prefooter__textarea--message{
		height: 8rem;
	}
	.footer__text{
		margin-left: 20px;
		text-align: center;
	}
	.footer__links{
		text-align: center;
		margin-left: 20px;
	}
}
@media (max-width: 667px){
	body{
		box-sizing: border-box;
	}
	.header__content{
		display: flex;
		flex-direction: column;
	}
	.header__picture{
		width: 100%;
	}
	.header__navigation{
		width:100%; 
	}
	.menu__item{
		font-size: 1.3rem;
	}
	.header__welcome-message{
		font-size: 3rem;
	}
	.header__hello-massage{
		font-weight: 100;
		font-size: 3rem;
	}
	.header__paragr{
		font-size: 2.5rem;
	}
	.header__get-started{
		font-size: 2.5rem;
		margin-top: 0px;
	}
	.main__skills--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.skills__text{
		width: 100%;
	}
	.skills__text--first,
	.skills__text--second,
	.skills__text--header{
		font-size: 2.5rem;
	}
	.skills__picture{
		width: 50%;
	}
	.skills__levels{
		width: 50%;
	}
	.skills__levels--all-skills{
	padding-left: 20px;
	font-size: 2rem;
	}
	.progress-name{
		font-size: 1.7rem;
	}
	.main__more--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.more__card--one{
		width: 50%;
		background-color: rgb(210, 105, 30);
		height: 400px;
	}
	.more__card--two{
		width: 50%;
		background-color:rgb(218, 165, 32);
		height: 400px;
	}
	.more__card--three{
		width: 50%;
		height: 400px;
	}
	.more__card--four{
		width: 50%;
		height: 400px;
	}
	.card__text,.card__text--coding{
	font-size: 1.8rem;
	}
	.education__paragr,.experiences__paragr{
		font-size: 1.4rem;
	}
	.duration{
		font-size: 1.2rem;
	}
	.education__picture,.experiences__picture{
		height: 670px;
	}
	.education__inform,.experiences__inform{
		height: 670px;
	}
	.main__prefooter--content{
		max-width: 100%;
	}
	.prefooter__sayhello{
		height: 830px;
	}
	.prefooter__contacts--text{
		padding-left: 5px;
	}
	.prefooter__links{
		padding: 0px;
		font-size: 1.3rem;
		margin: -0px;
	}
	.prefooter__headline{
		font-size: 2rem;
	}
	.prefooter__textarea--message{
		height: 3.5rem;
	}
	.footer__text{
		margin-left: 20px;
		text-align: center;
	}
	.footer__links{
		text-align: center;
		margin-left: 20px;
	}
}
@media (max-width: 480px){
	body{box-sizing: border-box;}
	.header__content{
		display: flex;
		flex-direction: column;
	}
	.header__picture{
		width: 100%;
	}
	.header__navigation{
		width:100%; 
	}
	.menu__item{
		font-size: 1.3rem;
	}
	.header__welcome-message{
		font-size: 3rem;
	}
	.header__hello-massage{
		font-weight: 100;
		font-size: 3rem;
	}
	.header__paragr{
		font-size: 2.5rem;
	}
	.header__get-started{
		font-size: 2.5rem;
		margin-top: 0px;
	}
	.main__skills--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.skills__text{
		width: 100%;
	}
	.skills__text--first,
	.skills__text--second,
	.skills__text--header{
		font-size: 2.5rem;
	}
	.skills__picture{
		width: 50%;
	}
	.skills__levels{
		width: 50%;
	}
	.skills__levels--all-skills{
	padding-left: 30px;
	font-size: 2rem;
	}
	.progress-name{
		font-size: 1.7rem;
	}
	.main__more--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.more__card--one{
		width: 50%;
		background-color: rgb(210, 105, 30);
		height: 400px;
	}
	.more__card--two{
		width: 50%;
		background-color:rgb(218, 165, 32);
		height: 400px;
	}
	.more__card--three{
		width: 50%;
		height: 400px;
	}
	.more__card--four{
		width: 50%;
		height: 400px;
	}
	.card__text,.card__text--coding{
	font-size: 1.8rem;
	}
	.education__paragr,.experiences__paragr{
		font-size: 1.4rem;
	}
	.education__picture,.experiences__picture{
		height: 750px;
	}
	.duration{
		font-size: 1.2rem;
	}
	.education__inform,.experiences__inform{
		height: 750px;
	}
	.main__prefooter--content{
		max-width: 100%;
	}
	.prefooter__textarea--message{	
		height: 50px;
	}
	.prefooter__picture{
	}
	.prefooter__button--send{
		font-size: 1.4rem;
		padding-right: 60px;
		padding-left: 60px;
	}
	.prefooter__contacts--text{
		padding-left: 0px;
	}
	.prefooter__contacts--paragr{
		font-size: 1.2rem;
	}
	.prefooter__links{
		padding: 0px;
		font-size: 1.3rem;
		margin: 0px;
		overflow: hidden;
	}
	.footer__text{
		margin-left: 20px;
		text-align: center;
	}
	.footer__links{
		text-align: center;
		margin-left: 20px;
	}
}
@media (max-width: 414px){
	body{
		box-sizing: border-box;
	}
	.header__content{
		display: flex;
		flex-direction: column;
	}
	.header__picture{
		width: 100%;
		height: 500px;
	}
	.header--stimulus{
	padding-left: 40px;
	padding-top: 60px;
	}
	.header__navigation{
		width:100%; 
	}
	.menu__item{
		font-size: 1.1rem;
		margin-right:1px;
		padding: 0;
		margin-right: 4px;
		margin-left: 0;
	}
	.header__links{
		height: 70px;
		background-color: antiquewhite;
		position: fixed;
		width: 100%;
		top:0;
		margin-top:0;
		box-shadow: 0px 0px 4px rgb(0,0,0);
	}
	.header__welcome-message{
		font-size: 3rem;
	}
	.header__hello-massage{
		font-weight: 100;
		font-size: 3rem;
	}
	.header__paragr{
		font-size: 2.5rem;
	}
	.header__get-started{
		font-size: 2.5rem;
		margin-top: 0px;
	}
	.main__skills--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.skills__text{
		width: 100%;
	}
	.skills__text--first,
	.skills__text--second,
	.skills__text--header{
		font-size: 1.9rem;
	}
	.skills__picture{
		width: 100%;
	}
	.skills__levels{
		width: 100%;
	}
	.skills__levels--all-skills{
		padding-left: 30px;
		font-size: 2rem;
	}
	.progress-name{
		font-size: 1.7rem;
	}
	.main__more--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.more__card--one{
		width: 100%;
		background-color: rgb(210, 105, 30);
		height: 400px;
	}
	.more__card--two{
		width: 100%;
		background-color:rgb(218, 165, 32);
		height: 400px;
	}
	.more__card--three{
		width: 100%;
		height: 400px;
	}
	.more__card--four{
		width: 100%;
		height: 400px;
	}
	.card__text,.card__text--coding{
		font-size: 1.8rem;
	}
	.education__picture{
		height: 750px;
	}
	.education__inform{
		height: 750px;
	}
	.experiences__picture{
		height: 750px;
	}
	.experiences__inform{
		height: 750px;
	}
	.education__paragr,.experiences__paragr{
		font-size: 1.4rem;
	}
	.main__prefooter--content{
		display: flex;
	}
	.prefooter__sayhello{
		width: 50%;
		height: 700px;
		background-color: rgb(210, 105, 30);
		padding-left: 5px;
		padding-right: 5px;
	}
	.prefooter__button--send{
		font-size: 1.6rem;
		padding-right: 80px;
		padding-left: 80px;
		margin-left: 0px;
	}
	.prefooter__input--email{
		background-color: rgb(210, 105, 30);
		border-bottom-color: white;
		border-top: none;
		border-right: none;
		border-left:  none;
		width: 99%;
		margin-bottom: 10px;	
		padding-bottom: 10px;
	}
	.prefooter__textarea--message{
		background-color: rgb(210, 105, 30);
		border-bottom-color: white;
		border-top: none;
		border-right: none;
		border-left:  none;
		width: 97%;
		margin-bottom: 30px;	
		height: 130px;
	}
	.prefooter__picture{
		display: none;
	}
	.prefooter__sayhello{
		height: 800px;
	}
	.prefooter__contacts{
		width: 100%;
		padding: 0px;
		margin: 0px;
		max-width: 185px;
		
	}
	.prefooter__contacts--text{
		padding-left: 20px;
	}
	.prefooter__links{
		padding-left: 20px;
		font-size: 1.2rem;
	}
	.footer__content{
		height: 200px;
	}
	.footer__text{
		margin-left: 20px;
		text-align: center;
	}
	.footer__links{
		text-align: center;
		margin-left: 20px;
	}
}
@media (max-width: 375px){
	body{box-sizing: border-box;}
	.header__content{
		display: flex;
		flex-direction: column;
	}
	.header__picture{
		width: 100%;
		height: 500px;
	}
	.header--stimulus{
	padding-left: 40px;
	padding-top: 70px;
	}
	.header__navigation{
		width:100%; 
	}
	.menu__item{
		font-size: 1.1rem;
		margin-right:2px;
		padding: 0;
		margin: 3px;
	}
	.header__links{
		height: 70px;
		background-color: antiquewhite;
		position: fixed;
		width: 100%;
		top:0;
		margin-left: -20px;
		margin-top:0;
		box-shadow: 0px 0px 4px rgb(0,0,0);
	}
	.header__welcome-message{
		font-size: 3rem;
	}
	.header__hello-massage{
		font-weight: 100;
		font-size: 3rem;
	}
	.header__paragr{
		font-size: 2.5rem;
	}
	.header__get-started{
		font-size: 2.5rem;
		margin-top: 0px;
	}
	.main__skills--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.skills__text{
		width: 100%;
	}
	.skills__text--first,
	.skills__text--second,
	.skills__text--header{
		font-size: 1.9rem;
	}
	.skills__picture{
		width: 100%;
	}
	.skills__levels{
		width: 100%;
	}
	.skills__levels--all-skills{
		padding-left: 30px;
		font-size: 2rem;
	}
	.progress-name{
		font-size: 1.7rem;
	}
	.main__more--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.more__card--one{
		width: 100%;
		background-color: rgb(210, 105, 30);
		height: 400px;
	}
	.more__card--two{
		width: 100%;
		background-color:rgb(218, 165, 32);
		height: 400px;
	}
	.more__card--three{
		width: 100%;
		height: 400px;
	}
	.more__card--four{
		width: 100%;
		height: 400px;
	}
	.card__text,.card__text--coding{
		font-size: 2rem;
	}
	.education__picture{
		height: 750px;
	}
	.education__inform{
		height: 750px;
	}
	.education__paragr,.experiences__paragr{
		font-size: 1.4rem;
	}
	.experiences__picture{
		height: 750px;
	}
	.experiences__inform{
		height: 750px;
	}
	.education__paragr{
		font-size: 2rem;
	}
	.main__prefooter--content{
		display: flex;
	}
	.prefooter__sayhello{
		width: 50%;
		height: 610px;
		background-color: rgb(210, 105, 30);
		padding-left: 5px;
		padding-right: 5px;
	}
	.prefooter__button--send{
		font-size: 1.3rem;
		padding-right: 60px;
		padding-left: 60px;
		margin-left: 0px;
	}
	.prefooter__input--email{
		background-color: rgb(210, 105, 30);
		border-bottom-color: white;
		border-top: none;
		border-right: none;
		border-left:  none;
		width: 99%;
		margin-bottom: 10px;	
		padding-bottom: 10px;
	}
	.prefooter__textarea--message{
		background-color: rgb(210, 105, 30);
		border-bottom-color: white;
		border-top: none;
		border-right: none;
		border-left:  none;
		width: 97%;
		margin-bottom: 10px;
		height: 130px;
	}
	.prefooter__headline{
		font-size: 2.5rem;
		margin-top: 30px;
	}
	.prefooter__paragr{
		font-size: 1.5rem;
	}
	.prefooter__picture{
		display: none;
	}
	.prefooter__contacts{
		width: 100%;
		padding: 0px;
		margin: 0px;
		/*max-width: 183px;*/
		max-width:50%;
	}
	.prefooter__links{
		padding: 0px;
		font-size: 1.3rem;
		margin: -10px;	
	}
	.prefooter__textarea--message{	
		height: 60px;
	}
	.prefooter__contacts--text{
		padding-left: 20px;
	}
	.prefooter__links{
		padding-left: 20px;
		overflow: hidden;
	}
	.footer__content{
		height: 200px;
	}
	.footer__text{
		margin-left: 20px;
		text-align: center;
	}
	.footer__links{
		text-align: center;
		margin-left: 20px;
	}
}
@media (max-width: 320px){
	body{box-sizing: border-box;}
	.header__content{
		display: flex;
		flex-direction: column;

	}
	.header__picture{
		width: 100%;
		height: 500px;
	}
	.header--stimulus{
	padding-left: 40px;
	padding-top: 70px;
	}
	.header__navigation{
		width:100%; 
	}
	.menu__item{
		font-size: 1.1rem;
		margin-right:2px;
		padding: 0;
		margin: 3px;
	}
	.header__links{
		height: 70px;
		background-color: antiquewhite;
		position: fixed;
		max-width: 100%;
		top:0;
		margin-left: -20px;
		margin-top:0;
		box-shadow: 0px 0px 4px rgb(0,0,0);
	}
	.header__welcome-message{
		font-size: 1.8rem;
		margin-top: 60px;
	}
	.header__hello-massage{
		font-weight: 100;
		font-size: 3rem;
	}
	.header__paragr{
		font-size: 1.5rem;
		margin-left: 2px;
	}
	.header__get-started{
		font-size: 1.5rem;
		margin-top: 0px;
	}
	.main__skills--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.skills__text{
		width: 100%;
	}
	.skills__text--first,
	.skills__text--second,
	.skills__text--header{
		font-size: 1.9rem;
	}
	.skills__picture{
		width: 100%;
	}
	.skills__levels{
		width: 100%;
	}
	.skills__levels--all-skills{
		padding-left: 30px;
		font-size: 2rem;
	}
	.progress-name{
		font-size: 1.7rem;
	}
	.main__more--content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.more__card--one{
		width: 100%;
		background-color: rgb(210, 105, 30);
		height: 400px;
	}
	.more__card--two{
		width: 100%;
		background-color:rgb(218, 165, 32);
		height: 400px;
	}
	.more__card--three{
		width: 100%;
		height: 400px;
	}
	.more__card--four{
		width: 100%;
		height: 400px;
	}
	.card__text,.card__text--coding{
		font-size: 1.8rem;
	}
	.education__picture,.experiences__picture{
		height: 840px;
		max-width: 40%;
	}
	.education__inform,.experiences__inform{
		height: 870px;
		font-size: 1.3rem;
		width: 60%;
	}
	.duration{
		font-size: 1.3rem;
	}
	.Education,.Experiences{
		font-size: 2rem;
		margin-bottom: 0;
		padding: 0;
	}
	.main__prefooter--content{
		display: flex;
	}
	.prefooter__headline{
	font-size: 2rem;
	}
	.prefooter__paragr{
		font-size: 1.1rem;
	}
	.prefooter__sayhello{
		width: 50%;
		height: 670px;
		background-color: rgb(210, 105, 30);
		padding-left: 5px;
		padding-right: 5px;
	}
	.prefooter__button--send{
		font-size: 1.3rem;
		padding-right: 60px;
		padding-left: 60px;
		margin-left: 0px;
	}
	.prefooter__input--email{
		background-color: rgb(210, 105, 30);
		border-bottom-color: white;
		border-top: none;
		border-right: none;
		border-left:  none;
		width: 99%;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	.prefooter__textarea--message{
		background-color: rgb(210, 105, 30);
		border-bottom-color: white;
		border-top: none;
		border-right: none;
		border-left:  none;
		width: 97%;
		margin-bottom: 10px;
		height: 50px;
	}
	.prefooter__picture{
		display: none;
	}
	.prefooter__contacts{
		width: 100%;
		padding: 0px;
		margin: 0px;
		max-width:50%;
	}
	.prefooter__links{
		padding: 0px;
		font-size: 1.5rem;
		margin: -10px;
		
	}
	.prefooter__contacts--text{
		padding-left: 20px;
	}
	.prefooter__links{
		padding-left: 10px;
		overflow: hidden;
	}
	.footer__content{
		height: 200px;
	}
	.footer__text{
		margin-left: 20px;
		text-align: center;
		font-size: 1.2rem;
	}
	.footer__links{
		text-align: center;
		margin-left: 20px;
		font-size: 1.5rem;
	}
}